
// Body
$primary: #D70096;
$secondary: #24126e;

$linear-red: linear-gradient(180deg,#f44881,#ec454f);
$linear-blue: linear-gradient(180deg,#21c8f6,#637bff);
$linear-green: linear-gradient(180deg,#6edcc4,#1aab8b);
$linear-yellow: linear-gradient(0deg,#f19a1a,#ffc73c);
$linear-purple: linear-gradient(180deg,#8b60ed,#b372bd);
