

// Variables
@import 'variables';

@import 'global';

@import '~nprogress/nprogress.css';

@import '~trumbowyg/dist/ui/trumbowyg.css';

#nprogress {
    .bar {
        background-color: $primary;
        height: 4px;
    }
    .spinner {
        display: none;
    }
}
